body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  background-color: #333333;
}

.navbar {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
              linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
              linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
              linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
              linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
              linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  font-family: 'Nunito', sans-serif;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

.page-header {
  border-color: #666666;
}

.thumb {
  margin-bottom: 30px;
}

.thumbnail {
  background-color: #666666;
  border: none;
}

footer {
    margin: 50px 0;
}

.upload-button {
  padding: 9px 0 0 20px;
}

#custom-search-form {
  margin:0;
  margin-top: 5px;
  padding: 0;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-top: 7px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width  0.2s ease-in-out;
  -moz-transition:width  0.2s ease-in-out;
  -o-transition: width  0.2s ease-in-out;
  transition: width  0.2s ease-in-out;
}

#custom-search-form button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-query:focus + button {
  z-index: 3;
}
.search-query:focus{
  width: 260px;
}