<h1>YO</h1>

<div id="theta-viewer">
  <canvas width="1596" height="1196" style="width:798px; height:598px;">
  </canvas>
</div>

<script type="text/javascript">
  $("#theta-viewer").createThetaViewer('/show_image');
</script>